name: Deploy React App to Azure Static Web Apps

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          
      - name: Install dependencies
        run: |
          npm install
          
      - name: Build React app
        run: |
          npm run build
        env:
          VITE_USERS_API_URL: ${{ secrets.VITE_USERS_API_URL }}
          VITE_PRODUCTS_API_URL: ${{ secrets.VITE_PRODUCTS_API_URL }}
          VITE_SALES_API_URL: ${{ secrets.VITE_SALES_API_URL }}
          VITE_REFUNDS_API_URL: ${{ secrets.VITE_REFUNDS_API_URL }}
          VITE_PRODUCTION: 'true'
          
      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "upload"
          app_location: "dist"
          skip_app_build: true
